body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: rgba(52, 73, 94, 1) !important;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #ffffff;
    font-weight: bold;
}

.container {
    max-width: 1200px;
}

.sidebar {
    background-color: #343a40;
    color: #ffffff;
    min-height: 100vh;
    padding: 20px;
}

.sidebar a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
}

.sidebar a i {
    margin-right: 10px;
}

.sidebar a:hover {
    background-color: #495057;
}

.main-content {
    padding: 20px;
}

.main-content h1 {
    font-size: 2rem;
    color: #343a40;
}

.chart-container {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

#itemsChart {
    width: 100%;
    height: 100%;
}

.recent-requests {
    margin-top: 20px;
    height: 300px;
    overflow-y: auto;
}

.recent-requests .card-header {
    background-color: #007bff;
    color: #ffffff;
}

.stats-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card .card-number {
    font-size: 2rem;
    color: #007bff;
}
#requestedFormsContent {
display: flex;
flex-wrap: wrap; /* Allow wrapping of cards to the next line if needed */
gap: 20px; /* Space between each card */
}

.card {
flex: 1 0 100px; /* Flex properties for each card */
margin-bottom: 20px; /* Bottom margin for spacing between cards */
}


@media (max-width: 767.98px) {
    .sidebar {
        display: none;
    }
}

.offcanvas-body .sidebar a {
    padding: 10px 0;
    margin: 0;
}